@import '/src/styles/variables';

.button {
	display: flex;
	justify-content: center;
	align-items: center;
	font-weight: 600;
	&:not(.button_background):hover {
		color: var(--color-text-primary-hover);
	}
	&_background {
		background-color: var(--color-primary);
		border-radius: $border-rad-light;
		color: var(--color-button);
		min-width: 6em;
		padding: .8em 1.2em;
		&:hover {
			background-color: var(--color-primary-hover);
		}
	}
	&_loading {
		.text {
			visibility: hidden;
		}
	}
}

.loading {
	position: absolute;
	& > div {
		background-color: var(--color-button) !important;
		font-size: .9em;
	}
}
