:root {
	--bg-content: #fff;
	--bg-main: #eee;

	--border-color-primary: #ccc;

	--color-error: #e41e1e;
	--color-error-hover: #b12319;
	--color-primary: #2290ff;
	--color-primary-hover: #22aeff;

	--color-button: #fff;
	--color-text-primary: #000;
	--color-text-primary-hover: #888;
	--color-text-secondary: #555;
}
